/ Button trigger modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        = render "shipping_form"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes
%h1
  Cart
#cart
  #art-piece-in-cart-null
    %btn.remove-item
      %span.glyphicon.glyphicon-remove
    .row
      .col-lg-3.col-md-3.col-sm-3
        %img{alt: "art image"}
      .col-lg-9.col-md-9.col-sm-9
        %h3.art-title
          art title
        %h3.art-price
          $__
#cart-actions
  %p#total-cost
  /%button#checkout.btn.btn-primary{:type => "button"} 
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
    Checkout
