%h1
  Cart
#cart
  #art-piece-in-cart-null
    %btn.remove-item
      %span.glyphicon.glyphicon-remove
    .row
      .col-lg-3.col-md-3.col-sm-3
        %img{alt: "art image"}
      .col-lg-9.col-md-9.col-sm-9
        %h3.art-title
          art title
        %h3.art-price
          $__