%form#payment-form.validaterenater-form{:action => "/purchase", :method => "post"}
  = tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token)
  %div
    %p.payment-errors
  %div
    %label{:for => "name"} Name:
    %input#name{type: "text", name: "purchase[name]", data: {validator: "full_name"}}
  %div
    %label{:for => "mail"} E-mail:
    %input#mail{type: "email", name: "purchase[email]", data: {validator: "email"}}
  %div
    %label{:for => "msg"} Street Address Line 1:
    %input#addOne{type: "text", name: "purchase[address_line_one]", data: {validator: "street address"}}
  %div
    %label{:for => "msg"} Street Address Line 2:
    %input#addTwo{type: "text", name: "purchase[address_line_two]"}
  %div
    %label{:for => "msg"} City:
    %input#city{type: "text", name: "purchase[city]", data: {validator: "city"}}
  %div
    %label{:for => "msg"} State:
    %input#state{type: "text", name: "purchase[state]", data: {validator: "state"}}
  %div
    %label{:for => "msg"} Zip Code:
    %input#zip{:type => "text", name: "purchase[zip_code]", data: {validator: "zip_code"}}
  %div
    %label{:for => "msg"} Apartment:
    %input#apt{:type => "text", name: "purchase[apartment]", data: {validator: "apartment"}}
  %div
    %label{:for => "msg"} Card Number:
    %input#cardNum{:type => "text", data: {validator: "credit_card_number"}}
  %div
    %label{:for => "msg"} CVC:
    %input#cvc{:type => "text", data: {validator: "credit_card_cvc"}}
  %div
    %label{:for => "msg"} Expiration Date:
    %input#exp{:type => "text", data: {validator: "credit_card_expiration_date"}}
  %button{:type => "submit"} Submit Payment
