%form#payment-form{:action => "/purchase", :method => "post"}
  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
  %div
    %label{:for => "name"} Name:
    %input#name{:type => "text"}
  %div
    %label{:for => "mail"} E-mail:
    %input#mail{:type => "email"}
  %div
    %label{:for => "msg"} Street Address Line 1:
    %input#addOne
  %div
    %label{:for => "msg"} Street Address Line 2:
    %input#addTwo
  %div
    %label{:for => "msg"} City:
    %input#city
  %div
    %label{:for => "msg"} State:
    %input#state
  %div
    %label{:for => "msg"} Zip Code:
    %input#zip
  %div
    %label{:for => "msg"} Apartment:
    %input#apt

  %div
    %label{:for => "msg"} Card Number:
    %input#cardNum
  %div
    %label{:for => "msg"} CVC:
    %input#cvc
  %div
    %label{:for => "msg"} Expiration Date:
    %input#exp

  %button{:type => "submit"} Submit Payment