#art-index-filtering {
  padding: 0 10px;
}

#art-index-filtering h4 {
  float: right;
  margin-right: 30px;
}

#art-index-filtering .filtering-loat-left {
  float: right;
  margin-left: 10px;
}

#art-container {
  .art-piece {
    padding: 0px 0px 0px 0px !important;
  }
  .art-piece-container {
    background: white;
    margin: 5px;
  }
  .art-image-container {
    padding: 0px 0px 5px 0px;
  }

  .art-copy-container {
    padding: 5px 10px 10px 10px;
  }
  .art-piece img {
    width: 100%;
  }
  h3 {
    margin: 0 !important;
  }
  .art-piece .limited {
    color: red;
    text-transform: uppercase;
    left: 0;
  }
  .art-piece .cost {
    color: green;
    font-size: 20px;
    right: 0;
  }
  #art-show-card img {
    width: 25%;
  }
  /*@media (min-width: 769px) { */
    .cost {
      float: left;
      margin: 0 !important;
    }
    .actions {
      float: right;
    }
  /*}*/
  @media (max-width: 768px) {

  }
}