#art-piece-in-cart-null {
  display: none;
}
.cart-item {
  border-top: 1px solid #DDD;
  padding: 20px 0 20px 0;
  position: relative;
}
.cart-item img {
  width: 100%;
}
.cart-item .remove-item {
  position: absolute;
  font-size: 24px;
  right: 0;
  z-index: 10;
}
#total-cost-title {
  color: gray;
  font-size: 12px;
  width: 100%;
}
#total-cost {
  color: black;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
#checkout-btn {
  width: 100%;
}