<nav class="navbar navbar-default">
  <div id="nav-left" class="col-md-4">
    <a href="/">home</a>
    <a href="/news">news</a>
  </div>

  <div id="nav-center" class="col-md-4">
    <a href="/">
      <img src="" alt="About Rocio">
    </a>
  </div>

  <div id="nav-right" class="col-md-4">
    <a href="/art">art</a>
    <a href="/store">store</a>
  </div>
</nav>