<nav>
  <ul>
    <li class="left-nav"><a href="/about">about</a></li>
    <li class="left-nav"><a href="/contact">contact</a></li>
    <li class="center-nav"><a href="/">home</a></li>
    <li class="right-nav"><a href="/art">art</a></li>
    <li id="cart" class="right-nav"><a href="/cart">cart</a></li>
  </ul>
</nav>