<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_RkB08WoCXINw3847wbtakf1f');
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.payment', 'data-turbolinks-track' => false %>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      function stripeResponseHandler(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
          // Show the errors on the form
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          // response contains id and card, which contains additional card details
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          // and submit
          $form.get(0).submit();
        }
      };

      function fetchCardInformation(form) {
	      var exp = form.querySelector("#exp").value.split("/");
	      var expMonth = exp[0] || 0;
	      var expYear = exp[1] || 0;
        var cardObject = {  number: form.querySelector("#cardNum").value,
                            cvc: form.querySelector("#cvc").value,
                            exp_month: expMonth,
			                      exp_year: expYear
                         };
        return cardObject;
      }

      function isValidCartObject() {
        return validation_manager.isValid();
      }

      document.getElementById("payment-form").addEventListener("submit", function(event) {
        event.preventDefault();
        var form = this;
        var button = form.querySelector("button");
        //button.disabled = true;
        var cardObject = fetchCardInformation(form);

        if (isValidCartObject()) {
          Stripe.card.createToken(cardObject, stripeResponseHandler)
        } else {
          alert("No.")
        }
        return false;
      });
    })
  </script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
